:root{
    --blue-background:#007bff;
}
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    background-color:#f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color:#888;
    border-radius:6px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#555;
}
.actualCard{
    color:white;
    user-select:none;
}
.actualCard > *{
    background:var(--blue-background);
    font-weight:bold;
}
.allCards{
    display:flex;
    justify-content:center;
    list-style:none;
    max-width:300px;
    user-select:none;
}
.allCards a{
    display:flex;
    padding:5px;
    border-radius:7px !important;
    width:30px;
    height:30px;
    margin:0 5px;
    border:2px solid var(--blue-background);
    border-radius:5px;
    color:var(--blue-background);
    text-decoration:none;
    cursor:pointer;
    align-items:center;
    justify-content:center;
}
.allCards a:hover{
    color:var(--blue-background) !important;
    background:#4c9cf1;
    color:white !important;
    opacity:0.7;
    scale:1.2;
}


@media (max-width:768px){
    .navbar-nav {
      flex-direction:column;
    }
    .navbar-toggler {
      display:block;
    }
    .navbar-collapse {
      background-color:#fff;
      padding:20px;
    }
    .nav-pills{
        grid-auto-flow:row !important;
    }
    .retractable{
        display:grid !important;
        justify-items:center !important;
    }
}